<% provide(:title, @group.title) %>

<div class = 'container'>

    <h1><%= @group.title %></h1>

    <!-- button start -->
    <% if logged_in? %>
        <div class = "follow_form inline-block-nm">
            <%= render 'follow_form' %>
        </div>

        <!-- あとで実装する -->
        <!--
        <button class="btn btn-primary inline-block-nm">招待する</button>
        -->
    <% elsif %>
        <button class="btn btn-primary inline-block-nm"><%= link_to "ログインして利用する", login_path %></button>
        <button class="btn btn-primary inline-block-nm"><%= link_to "sign up", signup_path %></button>
    <% end %>

      <!-- ３人以上での調整 -->
      <% if @group.multi %>

        <%= link_to g_comment_path(access_id: @group.access_id), remote: true do %>
          <button class="btn btn-primary inline-block-nm">日程調整をする</button>
        <% end %>

      <!-- ２人での調整 -->
      <% else %>

        <!-- 日程調整が完了していない場合 -->
        <% if !@group.finished %>

          <%= link_to g_answer_path(access_id: @group.access_id), remote: true do %>
            <button class="btn btn-primary inline-block-nm">日程調整をする</button>
          <% end %>

        <% end %>
      <% end %>

    <!-- line、messangerなどで送りたい -->
    <button id="tooltip-button" class="btn btn-primary inline-block-nm copy-btn" data-clipboard-target="#url"　data-toggle="tooltip" title="コピーされました">linkをコピー</button>
    <!-- button end -->
    <div style="width: 450px;"></div>
    <input id="url" class="copy-box" value="<%= request.url %>">


    <!-- 1. multi -->
    <!-- 2. !multi -->
      <!-- a. @group.user == current_user -->
      <!-- b. @group.user != current_user -->
    <div class="row" style="margin-bottom: 100px;">

      <div class = "col-md-6">
        <div class = "schedule">
            <h2>schedule</h2>

              <% if @group.multi %>

                <%= render 'multi_table' %>

              <% else %>

                <% if @group.user == current_user %>
                  <h3>提示する日程</h3>
                <% else %>

                <% end %>

                  <%= render 'two_table' %>

              <% end %>

        </div>
      </div>


      <% if !@group.content.empty? %>
          <div class = "col-md-6">
              <h2>description</h2>
                  <div class="">
                      <%= @group.content %>
                  </div>
          </div>
      <% end %>

    </div>

    <% if @group.multi %>
      <div class="row">
          <div class="col-md-6">
              <h2>グループのメンバー</h2>

                <%= render 'member' %>

                <h3>招待中</h3>

                  <%= render 'invited' %>

          </div>
      </div>
    <% end %>

    <!-- 新規登録用のmodalを表示(yes,noの二択から)-->
    <%= render 'register' %>
    <%= render 'final' %>


</div>
