<% provide(:title, @group.title) %>

    <h1><%= @group.title %></h1>

    <!-- リンクをコピーボタン -->
    <div>
      <input id="url" class="copy-box" value="<%= request.url %>">
      <button id="tooltip-button" class="btn btn-primary inline-block-nm copy-btn" data-clipboard-target="#url"　data-toggle="tooltip" title="コピーされました">linkをコピー</button>
    </div>

    <!-- expireボタン -->
    <% if !@group.expired_flag && current_user == @group.user %>
      <button class="btn btn-primary" id="expiration">締め切る</button>
    <% end %>

    <!-- 招待者の送信ボタン -->
    <% if !@group.expired_flag && current_user != @group.user %>
      <button class="btn btn-primary" id="submit-detaildates">送信</button>
      <button class="btn btn-primary" id="select-by-oneclick">ワンクリックで選択する</button>
    <% end %>


    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div id='calendar'></div>
      </div>
    </div>

    <!-- 締め切ったことを表示 -->
    <% if @group.expired_flag && !@group.finished %>
      <p>締め切りました</p>
    <% end %>

    <!--  決まった場合　-->
    <% if @group.finished %>
      <h2>決定した日程<h2>
        <input id="submited" class="copy-box" value="<%= @determined_date %>">
        <button id="tooltip-button" class="btn btn-primary copy-btn" data-clipboard-target="#submited" data-toggle="tooltip" title="コピーされました">日時をコピー</button>
    <% end %>




<%= javascript_include_tag "group" %>
<%= render 'shared/name' %>
