<div class="modal fade" id="event-form-modal" tabindex="-1">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class="modal-title">create group</h2>
        </div>
        <div class="modal-body">
            <div class = 'container-fluid'>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <%= form_for(@group, url: user_groups_path(user_id: current_user.id), remote: true) do |f| %>
                            <%= f.label :title %>
                            <%= f.text_field :title %>

                            <%= f.label :content %>
                            <%= f.text_area :content %>



                            <%= f.label :starttime_of_day %>
                            <%= f.select :starttime_of_day, @choice, {}, class: "form-control", size: 5 %>


                            <%= f.label :endtime_of_day %>
                            <%= f.select :endtime_of_day, @choice, {}, class: "form-control", size: 5 %>




                            <%= f.label :starttime %>
                            <div class='input-group date datepicker-form start-datepicker' style="margin-bottom: 10px;">
                              <%= f.text_field :starttime, class: 'form-control' %>
                              <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                              </span>
                            </div>

                            <%= f.label :endtime %>
                            <div class='input-group date datepicker-form end-datepicker' style="margin-bottom: 10px;">
                              <%= f.text_field :endtime, class: 'form-control' %>
                              <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                              </span>
                            </div>

                            <%= f.label :timelength %>
                            <%= f.number_field :timelength %>

                          <div class="radio radio-inlie">
                              <label style="font-size: 1.2em; margin-right: 10px;"><%= f.radio_button :multi, false %>２人</label>
                              <label style="font-size: 1.2em;"><%= f.radio_button :multi, true %>３人以上</label>
                          </div>


                            <%= f.hidden_field :access_id, value: @access_id %>
                            <%= f.hidden_field :finished, value: false %>


                            <%= f.submit "Create group", class: "btn btn-primary" %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">閉じる</button>
        </div>
    </div>
</div>
</div>


<div class="modal fade" id="input-modal" tabindex="-1">
    <div class="modal-dialog">
		  <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class="modal-title">タイトルを入力してください</h2>
        </div>
		    <div class="modal-body">
			    <div style="text-align: center;"><input id="title-input"></input></div>
		    </div>
			  <div class="modal-footer">
          <button id="title-button" class="btn btn-primary">Enter</button>
			    <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
		    </div>
	    </div>
	</div>
</div>
