<% if logged_in? %>

  <% provide(:title, current_user.name) %>

  <div style="margin-bottom: 30px;" >

    <div class = "row">
      <div class = "col-lg-8 col-lg-offset-2">
        <div id="calendar"></div>
        <button id="submission">submit!</button>
      </div>
    </div>

    <h2>Group</h1>

    <ul class="nav nav-tabs">
        <li class="nav-item"><%= link_to "my groups", you_path %></li>
        <li class="nav-item"><%= link_to "Participating groups", participating_path %></li>
        <li class="nav-item active"><%= link_to "Invited groups", invited_path %></li>
    </ul>

    <h2>my groups</h2>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th> group name</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% if !@groups.empty? %>
          <% @groups.each_with_index do |group, i| %>
        <tr>
          <th></th>
          <td><%= link_to group.title, g_path(access_id: group.access_id) %></td>
          <td><%= link_to "edit", g_edit_path(access_id: group.access_id), remote: true%></td>
          <td><%= link_to "delete", g_path(access_id: group.access_id) %></td>
        </tr>
          <% break if i+1 >= @groups.count %>
          <% end %>
        <% else %>
        <tr>
          <th></th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <% end %>
      </tbody>
    </table>

  </div>

<% elsif %>

  <!-- 書き方を変える（before actionがいいかも） -->
  <p>ログインしてください。</p>

<% end %>

<%= render 'group' %>
