<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <%= csrf_meta_tags %>
    <%= include_gon %>
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

      <% if logged_in? && !current_page?(controller: 'static_pages', action: 'home') %>
        <div id="floating-actionbutton"></div>
      <% end %>

      <div class="container gray">

        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <% flash.each do |message_type, message| %>
              <div class = "alert alert-<%= message_type %>"><%= message %></div>
            <% end %>
          </div>

          <div style="padding: 30px 0 0 25px;">
            <%= yield %>
          </div>

        </div>

      </div>

    <%= render 'layouts/footer' %>

      <!-- ここにmodelのタグを表示 -->
      <div id="form-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>


      <!-- 成功or失敗のモーダル -->
      <%= render 'shared/modal' %>




  </body>
</html>
